/*--------------------------------------------------------------
 * [TABLE OF CONTENTS]
 *
 * #1
 * #2
 * #3
 *    #3.1
 *    #3.2
 *
 *--------------------------------------------------------------*/


/*--------------------------------------------------------------
 * ===============  #1 LAYOUT>  ===============
 *--------------------------------------------------------------*/

.page-content--content-blog-single
    padding: 60px 0
    max-width: 100%
    width: 100%

.content-blog-single
    display: flex
    justify-content: space-between
    flex-wrap: wrap

.section__blog-single
    max-width: calc(70% - 15px)
    flex: 0 0 calc(70% - 15px)
    width: 100%

/*--------------------- MEDIA-QUERIES> ---------------------*/

@media (max-width: $breakpoint-xl)
    .section__blog-single
        flex: 0 0 calc(66.666667% - 15px)
        max-width: calc(66.666667% - 15px)

@media (max-width: $breakpoint-lg)
    .section__blog-single
        flex: 0 0 100%
        margin-bottom: 30px
        max-width: 100%

/*--------------------- <MEDIA-QUERIES ---------------------*/

/*--------------------------------------------------------------
 * ===============  <#1 LAYOUT ===============
 *--------------------------------------------------------------*/


/*--------------------------------------------------------------
 * ===============  #2 CONTENT>  ===============
 *--------------------------------------------------------------*/

.post-page-title
    color: $text-color-light-strong
    font-family: $font-family-secondary
    font-size: $font-size-h3
    font-weight: 700
    text-transform: uppercase
    cursor: default
    line-height: 42px

.blog-post-single
    border-top-left-radius: 3px
    border-top-right-radius: 3px
    background-color: $bg-color-light-strong

.blog-single-attachment
    border-top-left-radius: 3px
    border-top-right-radius: 3px

.blog-single-content
    padding: 25px 25px 50px 25px
    border-left: 1px solid $border-color-dark
    border-right: 1px solid $border-color-dark

// header
.blog-single-header
    margin-bottom: 25px
    padding-bottom: 10px
    border-bottom: 1px dotted $border-color-dark

.blog-single-posted-on,
.blog-single-posted-by,
.blog-single-comments-num
    margin-right: 30px
    display: inline-block
    font-size: 15px
    >i.fa
        margin-right: 4px
        color: $link-text

.blog-single-comments-num
    margin-right: 0

.blog-single-posted-on-link,
.blog-single-author-link,
.blog-single-comments-link
    color: $text-color-dark-medium
    &:hover
        color: $link-text
    >i.fa
        margin-right: 4px
        color: $link-text


// footer
.blog-single-footer
    border-top: 1px dotted $border-color-dark
    padding-top: 10px

.blog-single-categories,
.blog-single-tags
    display: inline-block
    margin-right: 30px
    font-size: 15px
    >i.fa
        margin-right: 4px
        color: $link-text

.blog-single-tags
    margin-right: 0

.blog-single-category-link,
.blog-single-tag-link
    color: $text-color-dark-medium
    &:hover
        color: $link-text


/*--------------------- MEDIA-QUERIES> ---------------------*/

@media (max-width: $breakpoint-md)
    .post-page-title
        font-size: $font-size-h3 * 0.9
        line-height: 39px
        margin-top: -15px

@media (max-width: $breakpoint-sm)
    .blog-single-content
        padding: 15px 15px 30px 15px
    .post-page-title
        font-size: $font-size-h3 * 0.85
        line-height: 37px

@media (max-width: $breakpoint-xs)
    .post-page-title
        font-size: $font-size-h3 * 0.8
        line-height: 35px


/*--------------------- <MEDIA-QUERIES ---------------------*/

/*--------------------------------------------------------------
 * ===============  <#2 CONTENT ===============
 *--------------------------------------------------------------*/


/*--------------------------------------------------------------
 * ===============  #3 POST-NAVIGATION>  ===============
 *--------------------------------------------------------------*/

.post-navigation
    padding: 0px 25px 0px 25px
    background-color: $bg-color-light-strong
    margin-bottom: 30px
    border-bottom-left-radius: 3px
    border-bottom-right-radius: 3px
    border: 1px solid $border-color-dark
    border-top: 0

.nav-links
    padding: 0 0 25px 0
    display: flex
    justify-content: space-between

.nav-previous,
.nav-next
    >a
        border: 1px solid transparent
        border-radius: 3px
        padding: 8px 15px
        display: inline-block
        font-size: 14px
        width: 220px
        height: 100%
        background-color: $button-primary-bg
        color: $text-color-light-strong
        &:hover
            background-color: $button-primary-bg-hover

.nav-title
    display: inline-block
    max-width: 100%
    overflow: hidden
    text-align: center
    text-overflow: ellipsis
    vertical-align: middle
    white-space: nowrap

.nav-subtitle
    display: block
    text-align: center


/*--------------------- MEDIA-QUERIES> ---------------------*/

@media (max-width: $breakpoint-sm)
    .nav-links
        flex-wrap: wrap
        justify-content: center
    .nav-previous,
    .nav-next
        margin-bottom: 10px
        &:last-of-type
            margin-bottom: 0

/*--------------------- <MEDIA-QUERIES ---------------------*/

/*--------------------------------------------------------------
 * ===============  <#3 POST-NAVIGATION ===============
 *--------------------------------------------------------------*/
