/*--------------------------------------------------------------
 * [TABLE OF CONTENTS]
 *
 * #1 FEATURES
 *
 *--------------------------------------------------------------*/


/*--------------------------------------------------------------
 * ===============  #1 FEATURES>  ===============
 *--------------------------------------------------------------*/

.about-features__content
    text-align: center

.about-features__cards
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 35px

.features-card
    border-radius: 3px
    border: 1px solid #9d9da4
    cursor: default
    display: flex
    flex-wrap: wrap
    flex: 0 0 calc((100% - 60px) / 3)
    max-width: calc((100% - 60px) / 3)
    padding: 20px 15px
    width: 100%

.features-card-number
    display: block
    font-family: $font-family-secondary
    font-size: $font-size-h3
    line-height: 50px
    text-align: center
    text-transform: uppercase
    width: 100%

.features-card-description
    color: $text-color-light-medium
    display: block
    font-family: $font-family-secondary
    font-size: $font-size-h5
    line-height: 28px
    text-align: center
    text-transform: uppercase
    width: 100%


/*--------------------- MEDIA-QUERIES> ---------------------*/

@media (max-width: $breakpoint-lg)
    .about-features__cards
        justify-content: center
    .features-card
        flex: 0 0 calc((100% - 30px) / 2)
        max-width: calc((100% - 30px) / 2)
    .features-card:nth-of-type(2)
        margin-left: 30px
    .features-card:last-of-type
        margin-top: 30px

@media (max-width: $breakpoint-md)
    .features-card
        padding: 15px

@media (max-width: $breakpoint-sm)
    .features-card
        flex: 0 0 100%
        max-width: 100%
    .features-card:nth-of-type(2)
        margin-left: 0
        margin-top: 30px
    .features-card-number
        font-size: 32px
    .features-card-description
        font-size: 18px

@media (max-width: $breakpoint-xs)
    .features-card-number
        font-size: 28px

/*--------------------- <MEDIA-QUERIES ---------------------*/

/*--------------------------------------------------------------
 * ===============  <#1 FEATURES ===============
 *--------------------------------------------------------------*/
