/*--------------------------------------------------------------
 * [TABLE OF CONTENTS]
 *
 * #1
 * #2
 * #3
 *    #3.1
 *    #3.2
 *
 *--------------------------------------------------------------*/


/*--------------------------------------------------------------
 * ===============  #1 >  ===============
 *--------------------------------------------------------------*/

.section--about-intro
    background-color: $bg-color-light-strong

.about-intro__title
    .section-title
        text-align: left

.about-intro__title,
.about-intro__content,
.about-intro__image-holder
    display: inline-block
    max-width: calc((100% - 30px) / 2)
    width: 100%

.about-intro__image-holder
    float: right

.about-intro__title,
.about-intro__content
    float: left
    position: relative
    top: 55px

.about-intro-button
    margin-top: 25px


/*--------------------- MEDIA-QUERIES> ---------------------*/

@media (max-width: $breakpoint-xl)
    .about-intro__title,
    .about-intro__content
        top: 0


@media (max-width: $breakpoint-lg)
    .about-intro__title,
    .about-intro__content,
    .about-intro__image-holder
        display: block
        max-width: 100%
        width: 100%
        float: none

    .about-intro__title
        .section-title
            text-align: center

    .about-intro-image
        width: auto
        margin: 0 auto

    .about-intro__content
        text-align: center
        margin-top: 25px


/*--------------------- <MEDIA-QUERIES ---------------------*/

/*--------------------------------------------------------------
 * ===============  <#1  ===============
 *--------------------------------------------------------------*/
