/*--------------------------------------------------------------
 * [TABLE OF CONTENTS]
 *
 * #1 SPONSORS
 *
 *--------------------------------------------------------------*/


/*--------------------------------------------------------------
 * ===============  #1 SPONSORS>  ===============
 *--------------------------------------------------------------*/

.section--about-sponsors
    background-color: $bg-color-light-strong
    border-bottom: 1px solid $border-color-dark
    border-top: 1px solid $border-color-dark
    height: auto
    overflow: hidden
    padding: 0
    position: relative

.about-sponsors-slider
    display: flex
    height: 100%
    justify-content: center
    padding: 0 35px

.about-sponsors-slider
    .slick-prev,
    .slick-next
        background-color: transparent
        border: none
        color: $text-color-dark-medium
        height: 35px
        outline: none
        padding: 0
        position: absolute
        text-align: center
        top: 50%
        transform: translateY(-50%)
        width: 50px
        >svg
            background-color: transparent
            stroke: $text-color-dark-medium
    .slick-prev
        left: -5px
        >svg
            margin-right: -8px
    .slick-next
        right: -5px
        >svg
            margin-left: -8px

.sponsor-item
    align-items: center
    display: flex
    height: 100%
    justify-content: center
    outline: none
    padding: 20px
    text-align: center
    width: 25%

.sponsor-item-link
    display: inline-block

.sponsor-item-image
    margin: 0 auto
    max-height: 100%
    position: relative
    width: auto


/*--------------------- MEDIA-QUERIES> ---------------------*/
/*--------------------- <MEDIA-QUERIES ---------------------*/

/*--------------------------------------------------------------
 * ===============  <#1 SPONSORS ===============
 *--------------------------------------------------------------*/
