/*--------------------------------------------------------------
 * [TABLE OF CONTENTS]
 *
 * #1
 * #2
 * #3
 *    #3.1
 *    #3.2
 *
 *--------------------------------------------------------------*/


/*--------------------------------------------------------------
 * ===============  #1 >  ===============
 *--------------------------------------------------------------*/

.home-news__posts
    display: flex
    justify-content: space-between
    flex-wrap: wrap

.news-post
    flex: 0 0 calc((100% - 60px) / 3)
    max-width: calc((100% - 60px) / 3)
    width: 100%

.news-post:hover
    .news-post-category,
    .news-post-heading
        margin-left: -2px

.news-post-media-holder
    text-align: center

.news-post-attachment
    border-radius: 3px

.news-post-caption
    padding: 0 15px
    margin-top: 6px
    transition: padding 0.2s ease-in

.news-post-category
    font-size: 16px
    color: $link-text
    transition: margin 0.1s ease-in

.news-post-heading
    font-family: $font-family-primary
    color: $text-color-base
    font-weight: 600
    line-height: 22px
    font-size: 19px
    margin-top: 4px
    transition: margin 0.2s ease-in

/*--------------------- MEDIA-QUERIES> ---------------------*/
/*--------------------- <MEDIA-QUERIES ---------------------*/

/*--------------------------------------------------------------
 * ===============  <#1  ===============
 *--------------------------------------------------------------*/
