/*--------------------------------------------------------------
 * [TABLE OF CONTENTS]
 *
 * #1 TESTIMONIALS
 *
 *--------------------------------------------------------------*/


/*--------------------------------------------------------------
 * ===============  #1 TESTIMONIALS>  ===============
 *--------------------------------------------------------------*/

.section--home-testimonials
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: relative

.home-testimonials-overlay
    background-color: rgba(#000000, 0.7)
    height: 100%
    left: 0
    overflow: hidden
    position: absolute
    top: 0
    width: 100%

.home-testimonials__slider
    position: relative
    word-break: break-word

.home-testimonials-comment
    display: none
    &.active-comment
        display: block

.home-testimonials-comment-text
    color: $text-color-light-strong
    height: auto
    margin-bottom: 25px
    text-align: center

.home-testimonials-comment-author
    color: $text-color-light-strong
    display: block
    font-weight: 700
    line-height: 19px
    margin-bottom: 30px
    text-align: center
    text-transform: uppercase

.home-testimonials__slider
    .slick-prev,
    .slick-next
        background-color: transparent
        border: none
        bottom: 0px
        height: 40px
        padding: 0 10px
        position: relative
        width: 50px
        >svg
            stroke: $icon-fill
        &:hover
            background-color: transparent
    .slick-prev
        left: 50%
        transform: translateX(calc(-50% - 30px))
    .slick-next
        left: 50%
        transform: translateX(calc(-50% - 30px))


/*--------------------- MEDIA-QUERIES> ---------------------*/

@media (max-width: $breakpoint-md)
    .home-testimonials-comment-text
        max-height: 140px
        overflow-y: auto

/*--------------------- <MEDIA-QUERIES ---------------------*/

/*--------------------------------------------------------------
 * ===============  <#1 TESTIMONIALS ===============
 *--------------------------------------------------------------*/
