/*--------------------------------------------------------------
 * [TABLE OF CONTENTS]
 *
 * #1 INTRO
 *
 *--------------------------------------------------------------*/


/*--------------------------------------------------------------
 * ===============  #1 INTRO>  ===============
 *--------------------------------------------------------------*/

.home-intro
    text-align: center

.home-intro__icons
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: 30px auto 0 auto

.intro-icon
    align-items: center
    display: flex
    flex-direction: column
    flex: 0 0 20%
    max-width: 20%
    padding: 0 15px
    width: 100%

.intro-icon-svg
    fill: $text-color-light-highlight
    height: 70px
    width: 70px

.intro-icon-text
    color: $text-color-dark-medium
    display: block
    font-family: $font-family-secondary
    font-size: 19px
    font-weight: bold
    height: 55px
    line-height: 26px
    margin-top: 10px
    padding: 0 3px
    text-transform: uppercase


/*--------------------- MEDIA-QUERIES> ---------------------*/

@media (max-width: $breakpoint-lg)
    .intro-icon
        flex: 0 0 33.333333%
        max-width: 33.333333%
        padding: 0 15px

@media (max-width: $breakpoint-sm)
    .intro-icon
        flex-direction: row
        flex: 0 0 100%
        margin-top: 5px
        max-width: 100%
        padding-left: 20%
        padding-right: 0
    .intro-icon-text
        align-items: center
        display: flex
        margin: 0 0 0 15px
        padding: 0

@media (max-width: $breakpoint-xs)
    .intro-icon
        justify-content: center
        padding: 0
    .intro-icon-svg
        height: 60px
        width: 60px
    .intro-icon-text
        font-size: 17px
        line-height: 22px
        margin-left: 0
        max-width: 180px
        padding: 0 5px
        width: 100%

/*--------------------- <MEDIA-QUERIES ---------------------*/

/*--------------------------------------------------------------
 * ===============  <#1 INTRO ===============
 *--------------------------------------------------------------*/
