/*--------------------------------------------------------------
 * [TABLE OF CONTENTS]
 *
 * #1 404-NOT-FOUND
 *
 *--------------------------------------------------------------*/


/*--------------------------------------------------------------
 * ===============  #1 404-NOT-FOUND>  ===============
 *--------------------------------------------------------------*/

.page-content--content-404
    height: 100%
    left: 0
    min-height: 100%
    min-width: 100%
    position: absolute
    top: 0
    width: 100%

.page-content--content-404
    .container
        align-items: center
        display: flex
        flex-direction: column
        justify-content: center

.section__error-404
    color: $text-color-light-strong

.content-404-header
    margin-bottom: 30px
    text-align: center

.error-404-description
    margin-bottom: 10px

.section__error-404
    .search-form
        margin: 0 auto
        max-width: 75%
        width: 100%
        .search-submit
            background-color: $button-primary-bg
        .search-submit:hover
            background-color: $button-primary-bg-hover


/*--------------------- MEDIA-QUERIES> ---------------------*/

@media (max-width: $breakpoint-xs)
    .section__error-404
        .search-form
            max-width: 100%

/*--------------------- <MEDIA-QUERIES ---------------------*/

/*--------------------------------------------------------------
 * ===============  <#1 404-NOT-FOUND ===============
 *--------------------------------------------------------------*/
