/*--------------------------------------------------------------
 * [TABLE OF CONTENTS]
 *
 * #1 PAGE-LAYOUT
 * #2 PAGE-CONTENT
 *
 *--------------------------------------------------------------*/


/*--------------------------------------------------------------
 * ===============  #1 PAGE-LAYOUT>  ===============
 *--------------------------------------------------------------*/

.page-content--content-page
    max-width: 100%
    padding: 60px 0
    width: 100%

.content-page
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.section__page
    flex: 0 0 calc(70% - 15px)
    max-width: calc(70% - 15px)
    width: 100%


/*--------------------- MEDIA-QUERIES> ---------------------*/

@media (max-width: $breakpoint-xl)
    .section__page
        flex: 0 0 calc(66.666667% - 15px)
        max-width: calc(66.666667% - 15px)

@media (max-width: $breakpoint-lg)
    .section__page
        flex: 0 0 100%
        margin-bottom: 30px
        max-width: 100%

/*--------------------- <MEDIA-QUERIES ---------------------*/

/*--------------------------------------------------------------
 * ===============  <#1 PAGE-LAYOUT ===============
 *--------------------------------------------------------------*/


/*--------------------------------------------------------------
 * ===============  #2 PAGE-CONTENT>  ===============
 *--------------------------------------------------------------*/

.page-singular
    background-color: $bg-color-light-strong
    border-radius: 3px
    border: 1px solid $border-color-dark

.page-singular-attachment
    border-top-left-radius: 3px
    border-top-right-radius: 3px

.page-singular-content
    padding: 35px 25px

/*--------------------------------------------------------------
 * ===============  <#2 PAGE-CONTENT ===============
 *--------------------------------------------------------------*/
